.body-width{
    max-width: 1170px;
}



/* navbar start */
.dropdown .dropdown-menu{
    display: none;
}
.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
    display: block;
    margin-top: .125em;
}

.dropend{
    padding-left: 8px !important;
}

@media screen and (min-width:769px) {
    .dropend:hover > .dropdown-menu{
        position: absolute;
        top: 0;
        left: 100%;
    } 

}

ul li a{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

ul li a:hover{
    box-shadow: inset 0 0 5px green;
    background: #fff;
    border-radius: 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
}



/* navbar end */

.row{
    margin-bottom: 20px;
}


p{
    text-align: justify;
}

/* bir start */



.bir-margin{
    margin: 10px 0;
}


.bir-container{
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 grey;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.bir-img img{
    border-radius: 6px;
    box-shadow: 0 0 5px 0 grey;
    margin-bottom: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* bir end */

/* table */
table {
    border:1px solid #b3adad;
    border-collapse:collapse;
    padding:5px;
    width: 100%;
}
table th {
    border:1px solid #b3adad;
    padding:5px;
    background: #f0f0f0;
    color: #313030;
    text-align: center;
}

table td {
    border:1px solid #b3adad;
    padding:5px;
    background: #ffffff;
    color: #313030;
}
/* table */

/* footer section start */

footer {
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,106,78,1) 100%);
    padding: 20px;
  }
  
  @media (max-width:800px) {
      footer .col-md-4{
          margin: 20px 0;
      }
  }
  
  .footer-links a{
      text-decoration: none;
      color: #86A789;
  }
  
  .footer-links a:hover{
      color: #CDF5FD;
  }
  
  .about-dev{
      color: #86A789;
  }
  /* footer section end */